In [9]:
import numpy as np
from scipy import stats
import pandas as pd

In [10]:
import requests

# Set up the direct download link
file_url = 'https://docs.google.com/uc?id=1VPOwYgABrqhwHNE8gE8AlhrIlxvu5Lyj'

# Download the file
response = requests.get(file_url)

with open('file.xlsx', 'wb') as f:
    f.write(response.content)

response.close()

# Read the data into a dataframe
df1 = pd.read_excel('file.xlsx',sheet_name = 'Video ratings',skiprows=13,usecols=['Subject', 'Before', 'After', 'Difference'], index_col= 'Subject')
df1

         Before  After  Difference
Subject
1            32     39           7
2            11     15           4
3            21     35          14
4            17     13          -4
5            30     41          11
6            38     39           1
7            14     22           8

In [11]:
import gdown
file_url = 'https://docs.google.com/uc?id=1VPOwYgABrqhwHNE8gE8AlhrIlxvu5Lyj'
gdown.download(file_url, 'file.xlsx', quiet=False)
df1 = pd.read_excel('file.xlsx',sheet_name = 'Video ratings',skiprows=13,usecols=['Subject', 'Before', 'After', 'Difference'], index_col= 'Subject')
df1

Downloading...
From: https://docs.google.com/uc?id=1VPOwYgABrqhwHNE8gE8AlhrIlxvu5Lyj
To: d:\NCU\2nd Year\Fourth Semester\ACS\Project\file.xlsx
100%|██████████| 246k/246k [00:03<00:00, 69.1kB/s]

         Before  After  Difference
Subject
1            32     39           7
2            11     15           4
3            21     35          14
4            17     13          -4
5            30     41          11
6            38     39           1
7            14     22           8

In [12]:
import os

filename = 'file.xlsx' # replace with the name of your file

try:
    os.remove(filename)
    print(f"{filename} has been deleted.")
except OSError as e:
    print(f"Error: {filename} - {e.strerror}.")

file.xlsx has been deleted.

In [13]:
df2=pd.DataFrame(columns=df1.columns)
df2.loc["Mean"]= df1.mean()
df2.loc["Std Dev"] = df1.std()

In [14]:
print(df1,"\n\n\n\n",df2)

         Before  After  Difference
Subject
1            32     39           7
2            11     15           4
3            21     35          14
4            17     13          -4
5            30     41          11
6            38     39           1
7            14     22           8



             Before      After  Difference
Mean     23.285714  29.142857    5.857143
Std Dev  10.160615  12.116498    6.094494

> Task 2: Determine the appropriate statistic to use

The appropriate statistic to use for this scenario would be a paired t-test, also known as a dependent t-test. This is because the data involves comparing ratings of the same individuals before and after a treatment (in this case, viewing a video on the company) over a period of time (one week), and the ratings are assumed to be normally distributed in the population.

A paired t-test is used when the same individuals are measured twice under different conditions, and it is ideal for situations where the data are paired or matched, such as pre-test and post-test measurements or repeated measures designs. In this case, the paired t-test would allow us to assess whether there is a statistically significant difference in the ratings of the company before and after the one-week video treatment. The alpha level of 0.05 would be used as the significance level to determine whether the observed difference in ratings is statistically significant or due to chance.

> task 3 ---------------------------------------

In [15]:
lower, upper = stats.t.interval(confidence=0.95,df=6,loc=df1.mean(),scale=df1.std()/np.sqrt(7)) # stats.sem(df1) is equivalent to df1.std()/np.sqrt(7)

df2.loc["Lower_95"]=np.array(lower)
df2.loc["Upper_95"]=np.array(upper)
df2

             Before      After  Difference
Mean      23.285714  29.142857    5.857143
Std Dev   10.160615  12.116498    6.094494
Lower_95  13.888713  17.936965    0.220676
Upper_95  32.682716  40.348749   11.493610

In [16]:
# Task 4: test if there is enough evidence to conclude that the ratings have increased significantly

res1= stats.ttest_rel(df1["Before"], df1["After"])
print(res1)

if res1[1] < 0.05:
    print("Reject null hypothesis. There is enough evidence to conclude that, on average, the ratings have increased significantly")
else:
    print("Fail to reject null hypothesis. There is not enough evidence to conclude that, on average, the ratings have increased significantly.")

TtestResult(statistic=-2.542712059078773, pvalue=0.04391998543533062, df=6)
Reject null hypothesis. There is enough evidence to conclude that, on average, the ratings have increased significantly

In [17]:
lower, upper = stats.t.interval(confidence=0.90,df=6,loc=df1.mean(),scale=df1.std()/np.sqrt(7))

df2.loc["Lower_90"]=np.array(lower)
df2.loc["Upper_90"]=np.array(upper)

lower, upper = stats.t.interval(confidence=0.99,df=6,loc=df1.mean(),scale=df1.std()/np.sqrt(7))

df2.loc["Lower_99"]=np.array(lower)
df2.loc["Upper_99"]=np.array(upper)
df2

             Before      After  Difference
Mean      23.285714  29.142857    5.857143
Std Dev   10.160615  12.116498    6.094494
Lower_95  13.888713  17.936965    0.220676
Upper_95  32.682716  40.348749   11.493610
Lower_90  15.823219  20.243857    1.381023
Upper_90  30.748210  38.041857   10.333263
Lower_99   9.047888  12.164298   -2.682926
Upper_99  37.523541  46.121416   14.397212